---
interface Props {
  title: string;
  body: string;
  href: string;
  backgroundColor?: string;
  textColor?: string;
  class?: string; // Propiedad para clases adicionales
}

const { href, title, body, backgroundColor = 'bg-white', textColor = 'text-black', class: additionalClasses = '' } = Astro.props;
---

<div class={`card ${backgroundColor} ${additionalClasses} p-4 rounded-lg shadow-lg h-auto`}>
  <h2 class={`text-xl font-bold ${textColor}`}>{title}</h2>
  <p class={`text-gray-700 ${textColor}`}>{body}</p>
  <a href={href} class="text-blue-500 underline">Leer más</a>
</div>
